* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "light";
    src: url(./fonts/HelveticaLt.ttf);
}

@font-face {
    font-family: "bold";
    src: url(./fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: "regular";
    src: url("./fonts/Helvetica_regular.ttf");
}

body {
    width: 100%;
    height: 100%;
}

nav {
    width: 70%;
    height: 55px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #606060;
}

.navbar {
    display: none;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    align-items: center;
}


.left img {
    padding: 6px 0 0 16px;
}
.fb{
    color: red;
}
.city {
    padding-right: 30px;
}

.right img {
    padding-right: 25px;
}

.city img {
    padding-top: 8px;
}

.nav_menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.nav_menu p {
    font-family: "bold";
    font-weight: bolder;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0px 0 10px;
    color: #606060;
}

.hero img {
    width: 100%;
    object-fit: contain;
    padding-top: 20px;
}


.content {
    width: 100%;
    margin: auto;
    float: right;
}

.list {
    display: flex;
    flex-direction: column;
    width: 15%;
    float: left;
    margin-left: 14%;
    margin-top: 20px;
}

details {
    border: 1px solid #cccccc;
    list-style: none;
    border-left: none;
    border-right: none;
}

details summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ol {
    list-style-type: none;
    font-family: "bold";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.216216px;
    color: #565656;
}
ol li{
    padding: 4px;

}
.list p {
    font-family: 'bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.252252px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

summary {
    font-family: "regular";
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-color: #cccccc;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: #f6f6f6;
    font-family: "regular";
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.btn2, .btn3 {
    border-top: none;

}

.panel {
    width: fit-content;
    padding: 5px 0 5px 18px;
    display: none;
    height: fit-content;
    overflow: hidden;
}

.products {

    display: flex;
    padding-top: 90px;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
}


.card {
    text-align: center;
}

.card img {
    padding: 5px;
}

.card p {
    font-family: 'regular';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.card b {
    font-family: 'bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.container {
    width: auto;
    margin: 0 17% 0 0%;
    display: flex;
    flex-direction: column;
    float: right;

}

.nxt_btn {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-family: 'bold';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.216216px;
    color: #000000;
    border: 3px solid #EEEEEE;
    padding: 10px;
    border-left: none;
    border-right: none;
}

.nxt_btn p {
    padding: 10px;
}

/* ///////////////////////////////////////////////////////////////////////// */

.fotter {
    background-color: #f6f6f6;
    color: #4f4f4f;
    margin: auto;
}

.fotter_container {
    margin: auto;
    width: 90%;
}

.contact p {
    text-align: center;
    font-family: 'light';
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.43px;
    line-height: 20px;
}

.calls {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 1px solid #CCCCCC;
    height: fit-content;
    justify-content: space-evenly;
}

.calls p {
    font-family: 'bold';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin: 0 10px 0 10px;
}

.grid {
    padding-bottom: 40px;
    height: fit-content;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.one {
    width: 30vw;
    font-family: "regular";
    font-weight: 500;
    line-height: 1.6;
    margin-right: 40px;
    color: #444444;
    flex-grow: 2;
}

.two h3 {
    font-family: regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;

    color: #444444;
}

.two p {
    font-family: "regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: #444444;
    padding-top: 15px;
    padding-bottom: 1px;
}

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #444444;
}

.menu_list {
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.three {

    display: flex;
    font-size: xx-large;
    align-items: center;
    letter-spacing: 15px;
    align-items: flex-start;
    margin-top: 30px;
}

.three img {
    padding: 12px;
}

.power {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    font-family: 'light';
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.23px;
    border-top: 1px solid #CCCCCC;
}

.power h3 {
    font-family: "regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.234234px;

    color: #444444;
}

.cart i {
    font-size: x-large;
}

.dropbtn {
    font-size: x-large;
    color: 606060;
    padding: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}




@media screen and (max-width:900px) {
    .grid {
        flex-wrap: wrap;
    }

    .three {
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {
    nav {
        display: none;
    }

    .nav_menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .hero img {
        padding: 0%;
        height: 22vh;
        object-fit: cover;
        width: 100%;
    }
}

@media screen and (max-width:1362px) {
    .container {
        margin: auto;
        width: 100%;
    }

    .nxt_btn {
        margin: auto;
        width: 88%;
    }
    .list{
        width: 80%;
    }
}

@media screen and (max-width:675px) {
    .calls {
        width: 100%;
    }
}

@media screen and (max-width:760px) {}