@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: 'GFS Didot', serif;
font-family: 'Inter', sans-serif;
    src: url(./fonts/HelveticaLt.ttf);
}

@font-face {
    font-family: 'GFS Didot', serif;
font-family: 'Inter', sans-serif;
    src: url(./fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: 'GFS Didot', serif;
font-family: 'Inter', sans-serif;
    src: url("./fonts/Helvetica_regular.ttf");
} */

body {
    width: 100%;
    height: 100%;
}

nav {
    width: 70%;
    height: 55px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    ;
}

.navbar {
    display: none;
    justify-content: space-between;
    padding: 0px 15px 0 10px;
    align-items: center;
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
    content: "\f07a";
    font-size: 20px;
}

.left img {
    padding: 6px 0 0 16px;
}

.fb {
    color: red;
}

.city {
    padding-right: 30px;
}
.city_img img{
    padding-top: 3px;
}
.right img {
    padding-right: 25px;
}
.menu_icon{
    width: 28px;
    height: 16px;
}

.city img {
    width: 70px;
    padding-top: 8px;
    height: 46px
}

.nav_menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.nav_menu a {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0px 0 10px;
    color: #606060;
    text-decoration: none;
}

.hero img {
    width: 100%;
    object-fit: contain;
    padding-top: 20px;
}

b {
    color: black;
    font-size: 13px;
    font-weight: bolder;
}

.content {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
}

.list {
    display: flex;
    flex-direction: column;
    width: 15%;
    float: left;
    margin-left: 14%;
    margin-top: 20px;
    padding: 10px;
}
.acc{
    padding-bottom: 25px;
}

#icon:after {
    content: '\271A';
    color: #777;
    float: right;
    font-size: 10px;
    padding-right: 15px;
}

/* .active:after {
    content: '\2716' !important;
    font-size: 10px;
} */

details[open] summary::after {
    transform: rotate(45deg);
}

details {
    border: 1px solid #cccccc;
    list-style: none !important;
    border-left: none;
    border-right: none;
}

details summary {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #000000;
}

details a {
    list-style-type: none;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.216216px;
    color: #565656;
    text-decoration: none;
    padding: 5px 5px 10px 5px;
}

.list p {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.252252px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

summary {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
    padding-bottom: 0px;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-color: #cccccc;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: #f6f6f6;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.btn2, .btn3 {
    border-top: none;

}

.panel {
    width: fit-content;
    padding: 5px 0 5px 18px;
    display: none;
    height: fit-content;
    overflow: hidden;
}

.products {

    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
}

.prd1 {
    margin-top: 30px;
}

.card {
    text-align: center;
}

.card img {
    padding: 5px;
    width: 250px;
    height: 375px;
}

.card p {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.card b {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.container {
    width: auto;
    margin: 0 15% 0 0%;
    display: flex;
    flex-direction: column;
}

.nxt_btn {
margin: 5% 0 8% 5%;
    display: flex;
    justify-content: space-between;
    width:87%;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.216216px;
    color: #000000;
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-left: none;
    border-right: none;
}

/* ///////////////////////////////////////////////////////////////////////// */

.fotter {
    background-color: #f6f6f6;
    color: #4f4f4f;
    margin: auto;
    height: fit-content;
}

.fotter_container {
    margin: auto;
    width: 90%;
}

.contact p {
    text-align: center;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.43px;
    line-height: 20px;
    padding-top: 30px;
}

.calls {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 1px solid #CCCCCC;
    height: fit-content;
    justify-content: center;
    margin-bottom: 10px;
}

.calls p {
    width: fit-content;
    height: 10px;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin: 0 10px 0 10px;
    padding: 1px 0 5px 0px;
}

.grid {
    padding-bottom: 40px;
    height: fit-content;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.one {
    width: 30vw;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 40px;
    color: #444444;
    flex-grow: 2;
}

.two h3 {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
    color: #444444;
}

.two p {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: #444444;
    padding-top: 15px;
    padding-bottom: 1px;
}

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #444444;
}

.menu_list {
    padding: 5px 5px 12px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.three {
    width: 80%;
    justify-content: flex-end;
    display: flex;
    font-size: xx-large;
    letter-spacing: 15px;
    align-items: flex-start;
    margin-top: 30px;
}

.three img {
    padding: 12px;
}

.power {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.23px;
    border-top: 1px solid #CCCCCC;
}

.power h3 {
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.234234px;

    color: #444444;
}

.cart i {
    font-size: x-large;
    color: #606060;
}

.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    color: #606060;
}

.dropbtn {
    font-size: x-large;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}




@media screen and (max-width:900px) {
    .grid {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .three {
        margin-top: 0;
        justify-content: flex-start;
    }
    .three img{
        padding: 0 20px 30px 0px;
    }

    .two h3 {
        margin-left: 0;
    }
}

@media screen and (max-width:600px) {
    nav {
        display: none;
    }

    .nav_menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .hero img {
        padding: 0%;
        height: 22vh;
        object-fit: cover;
        width: 100%;
    }
}

@media screen and (max-width:1362px) {
    .container {
        margin: auto;
        width: 100%;
    }
    .prd1 {
        margin-top: 0%;
    }

    .nxt_btn {
        margin: auto;
        width: 88%;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .list {
        width: 60%;
        margin: auto;
        float: none;
    }
}

@media screen and (max-width:520px) {
    .list {
        width: 85%;
        margin: auto;
        float: none;
        padding: 10px 20px 10px 30px;
    }
.question p{
    font-size: 19px;
}
    .products {
        padding: 0;
    }

    .question p {
        line-height: 30px;
    }

    .two p {
        padding-top: 40px;
    }

    .three img {
        padding: 0px 20px 30px 0;
    }

    .two h3 {
        margin: 0;
    }

    .grid {
        padding-bottom: 0;
    }

    .card img {
        padding: 40px 5px 5px 5px;
    }
    .sum2,.sum3{
        display: none;
    }
    #icon:after{
        display: none;
    }
}

@media screen and (max-width:400px) {
    .calls {
        width: 100%;
        justify-content: space-around;
        padding-bottom: 15px;
    }
}
@media screen and (max-width:376px) {
    .fotter_container{
        width: 100%;
    }
    .menu_list {
        padding: 5px 5px 18px 0;
    }
}